@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap');
$font-color: #F6EAEA;
$background-color: #523A28;
 .logo {
  display: flex;
  background-color: $background-color;
  height: 8vh;

    h1 {
  font-family: 'Ingrid Darling'; 
  font-size: 50px;
  color: $font-color;
  padding: 10px;
  font-weight: 200;
  }
  img {
  width: 65px;
  height: 65px;
  }
}