@import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
$rutan-man-skriver-in: rgb(155, 169, 90);
$placeholder-color: #5c4d41;
$munu-button-backrground-color: rgb(136, 103, 64);
$munu-button-text-color: #f9f2f2;
$drop-down-color: #8c644f;
$font-color: #fffdfd;

.searchField {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
   flex-direction: column; 
  .input::placeholder {
    padding-left: 1rem;
    font-size: 20px;
    color: $placeholder-color;
  }

  .input {
    background-color: $rutan-man-skriver-in;
    font-size: 20px;
    border: none;
    margin-top: 10px;
    height: 5vh;
    width:90%;
    border-radius: 0.9rem;
    outline: none;
    
    margin-bottom: 2px;
    padding:5px;
  }
}

.option{
  width: 10rem;
}

.menuButton {
  width: 10rem;
  height: 2rem;
  border: none;
  background-color: $munu-button-backrground-color;
  color: $munu-button-text-color;
  font-size: 1.5rem;
  border-radius: 5px;
  font-family: "Titan One", cursive;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 2px;
  
}

.dropdownMenu {
  width: 10rem;
  margin-bottom: 10px;

  
  select {
    height: auto;
    width: 10rem;
    overflow: hidden;
    border-radius: 5px;
  }

  option {
    text-align: center;
    background-color: $drop-down-color;
    color: $font-color;
    padding: 10px;
    
  }
}

.test{
  margin-left:5%;
}
